<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <div class="form-container">
          <div class="form-container__header">
            <h1>Sign up</h1>

            <p>
              <a routerLink="/login" routerLinkActive="router-link-active">Have an account?</a>
            </p>
          </div>

          <div class="form-container__body">
            <form [formGroup]="form">
              <app-input [type]="'text'" [placeholder]="'Username'" [formGroup]="form" [controlName]="'username'"
                [clearable]="true" [icon]="'fa-user'"></app-input>
              <app-input [type]="'email'" [placeholder]="'Email'" [formGroup]="form" [controlName]="'email'"
                [clearable]="true" [icon]="'fa-at'"></app-input>
              <app-input [type]="'password'" [placeholder]="'Password'" [formGroup]="form" [controlName]="'password'"
                [clearable]="true" [icon]="'fa-lock'"></app-input>

              <app-button [label]="'Sign up'" [icon]="'fa-right-to-bracket'" [style]="'pill'" (btnClick)="submit()"
                [isDisabled]="isSubmitting$ | async"></app-button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<app-spinner [condition]="isSubmitting$ | async"></app-spinner>