@import 'src/styles/_variables.scss';
@import 'src/styles/_mixins.scss';

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $gap;
  width: clamp(300px, 90%, 500px);

  &__header {
    width: 100%;
    margin-bottom: $gap-sm;

    h1 {
      margin-bottom: 0;
      text-align: center;
      font-size: 4rem;
    }

    p {
      text-align: center;
      font-size: 1.4rem;

      a {
        color: $palette-light-blue;
      }
    }
  }

  &__body {
    width: 100%;

    form {
      width: 100%;

      app-button {
        ::ng-deep {
          .component {
            margin-left: auto;

            @media only screen and (max-width: 576px) {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
