<app-alert *ngIf="!(data$ | async)" [type]="'danger'" [content]="'Something went wrong'"></app-alert>
<ng-container *ngIf="data$ | async as data">
  <app-spinner [condition]="data.isLoading" [overlay]="false"></app-spinner>
  <app-alert *ngIf="data.error" [type]="'danger'" [content]="data.error"></app-alert>

  <div *ngIf="data.feed">
    <app-article *ngFor="let article of data.feed.articles" [data]="article"></app-article>
    <app-paginator [total]="data.feed.articlesCount" [limit]="limit" [url]="baseUrl"
      [currentPage]="currentPage"></app-paginator>
  </div>
</ng-container>