<fieldset [formGroup]="formGroup" class="component">
  <div class="input-container">
    <div *ngIf="icon" class="icon">
      <ion-icon name="{{icon}}"></ion-icon>
    </div>
    <input [ngClass]="{'iconContainer': icon}" [formControlName]="controlName" class="control" [type]="type"
      [placeholder]="placeholder">
    <div *ngIf="clearable" class="clear" (click)="clear()">
      <ion-icon name="close-outline"></ion-icon>
    </div>
  </div>
  <app-error-control class="error" [ngClass]="{'visible': control.invalid && control.touched}"
    [message]="errorMessage"></app-error-control>
</fieldset>
