@import 'src/styles/_variables.scss';
@import 'src/styles/_mixins.scss';

.btn-def,
.btn-unliked {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 2px 8px;
  font-size: 1.4rem;
  color: rgba($color: $white, $alpha: 0.8);
  background: none;
  border: 1px solid rgba($color: $white, $alpha: 0.15);
  border-radius: $border-radius;
}

.btn-liked {
  color: rgba($color: $white, $alpha: 1);
  background: $error;
  border: 1px solid rgba($color: $error, $alpha: 1);
}
