@import 'src/styles/_variables.scss';
@import 'src/styles/_mixins.scss';

.feed-toggler {
  margin: 0px 10px 20px 0;
  padding: 0 15px;
  border-bottom: 1px solid rgba($color: $white, $alpha: 0.15);
}
